*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgba(32, 9, 103, 0.449);
}
h1{
    background-color: rgb(17, 15, 15);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #010101;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    background-color: rgb(10, 10, 44);
    color: aliceblue;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px white;
}


